# Gradle
.externalNativeBuild/
.gradle/
.idea/
LatinIME.iml
build/
local.properties
java/google-services.json
google-services.json
*.hprof
/java/res/values/values.xml
/keyboard/release/keyboard-release.aab
/keyboard/release/output-metadata.json
